<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>SimonSkovWeb.DK -{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('web/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('web/css/main.css') }}" />
    </head>
    <body>
      <header>
        <div class="title">
          <h1>SimonSkovWeb.DK</h1>
          <h2 class="pageTitle">Hallo World</h2>
        </div>
      </header>
      <nav class="navigation">

          <a href="#">Forside</a>
          <a href="#">Bagside</a>
          <a href="#">Min Side</a>
          <a href="#">Andre Sider</a>
      </nav>
      <div class="navigationDetail"></div>
      <main>

        <h3>Siden er under opbygning :)</h3>
      </main>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
      <p class="copyright">Copyright &copy; 2018</p>
    </footer>
</html>
